.dailyContainer {
  display: flex;
  justify-content: space-around;
}

.bg {
  position: absolute;
  left: -90px;
  top: -90px;
  z-index: -1;
  width: 200px;
  opacity: 0.4;
}

.days {
  position: relative;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px #ddd;
  margin: 10px;
  overflow: hidden;
}
.days:first-child {
  box-shadow: 0 0 2px 2px #aaa;
  border: 1px solid red;
}
